alembic==1.4.0
autoenv==1.0.0
Click==7.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Ext==0.1
flask-peewee==3.0.3
gunicorn==19.5.0
itsdangerous==1.1.0
Jinja2==2.11.1
Mako==1.1.1
MarkupSafe==1.1.1
peewee==3.13.1
psycopg2==2.8.4
python-dateutil==2.8.1
python-editor==1.0.4
six==1.14.0
Werkzeug==1.0.0
wtf-peewee==3.0.0
WTForms==2.2.1
firebase_admin==4.0.0
xlrd~=1.2.0